$brandColor: #006;

* {
  box-sizing: border-box;
}

body {
  background: white;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

h1,
p {
  color: $brandColor;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 4rem;

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-width: 50%;
  }

  .card {
    background-color: $brandColor;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; // Align items to the center to prevent stretching
    justify-content: flex-start; // Align content to the top
    width: 175px; // Define a specific width for all cards
    height: 175px; // Ensure the height adjusts to content
    margin: 10px;
    padding: 20px;

    h3,
    p {
      color: white;
      font-size: 1rem;
      margin-bottom: 5px;
      margin-top: 0;
      text-align: center;
    }
  }
}

svg {
  padding-top: 20px;
  fill: white;
  height: 120px;
  width: 120px;
}

.header-section,
.footer-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap; // Change to wrap to allow items to move to the next line if space runs out
  padding: 20px;
  margin-bottom: 20px;
}
.children .card {
  transform: scale(0.9);
}
